<style>
  .playList-row {
    border-bottom: 2px solid transparent;
  }
</style>
<div class="row lg-1">
  <div class="col-xs">
    <h4>PlayLista</h4>

    <LS-playlists-list [selected]="selected" (selected)=" select($event) " [playLists]="playLists"></LS-playlists-list>

    <div class="form-group">
      <button class="btn btn-success float-xs-right" (click)="createNew($event)">Nowa PlayLista</button>
    </div>
  </div>

  <div class="col-xs">

    <div [ngSwitch]="mode">

      <LS-content-card title="PlayLista" *ngSwitchDefault>
        <p>Wybierz
          <b>playlistę!</b>
        </p>
      </LS-content-card>

      <LS-content-card title="Playlista {{selected.name}}" *ngSwitchCase="'selected'">
        <LS-playlist-detail [playList]="selected" (editplaylist)="edit($event)"></LS-playlist-detail>
      </LS-content-card>

      <LS-content-card title="Playlista {{selected.name}} - edycja" *ngSwitchCase="'edit'">
        <LS-play-list-form [playList]="edited" (saved)="save($event)"></LS-play-list-form>
      </LS-content-card>

    </div>
  </div>
</div>